body, html {
    margin: 0;
    padding: 0;
    font-family: "Finlandica", cursive;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
    color: #fff; /* Set default text color to white */
    background-color: #05081c; /* Dark blue background */
    overflow: hidden;
    position: relative; /* Ensure relative positioning for the entire page */
}

.playwrite-nz- {
    font-family: "Finlandica", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.flashlight {
    position: absolute;
    width: 350px; /* Increase the width for a larger radius */
    height: 350px; /* Increase the height for a larger radius */
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1); /* Make the light weaker */
    box-shadow: 0 0 50px 50px rgba(255, 255, 255, 0.267), 0 0 100px 100px rgba(255, 255, 255, 0.05);
    pointer-events: none;
    z-index: 1;
    filter: blur(100px); /* Adjust the blur to make the light softer */
}

.about-me, .work-experience, .education {
    padding: 20px;
}

.job-entry {
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the card */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}


.job-entry .left {
    flex: 0 0 30%; /* Adjust as needed */
}

.job-entry .right {
    flex: 1;
    padding-left: 20px;
}
.job-entry a {
    display: flex;
    flex-direction: row;
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit the color from parent elements */
    padding: 20px; /* Ensure padding is consistent */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
    border-radius: 10px; /* Ensure the border radius for the link */
}

.job-entry a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Highlight background on hover */
    color: #00fdfd; /* Change text color on hover */
}

.job-entry a:hover h2::after {
    color: #00fdfd; /* Change arrow color on hover */
}

.job-entry h2 {
    position: relative; /* Position relative to insert arrow */
}

.job-entry h2::after {
    content: ' \2197'; /* Northeast arrow symbol */
    color: #00fdfd; /* Inherit color from h2 */
    transition: color 0.3s ease; /* Smooth transition for color change */
}
.timeframe {
    font-size: 18px;
    color: #b6b6b6; /* Light gray */
}

.tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #333333; /* Dark gray */
    color: #00fdfd; /* Cyan green */
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 10px;

    border-radius: 3px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Equal width for both columns */
    position: relative; /* Ensure it respects the flashlight's position */
    overflow: auto;
}

.personal-header {
    background-color: #05081c;
    padding-top: 96px;
    padding-left: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 100vh; /* Full height to match container */
    box-sizing: border-box;
    z-index: 2; /* Ensure it is above the flashlight */
    overflow-y: hidden;
}

.content {
    background-color: #05081c;
    padding-top: 96px;
    padding-left: 10px;
    height: 100vh; /* Full height to match container */
    box-sizing: border-box;
    z-index: 2; /* Ensure it is above the flashlight */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 42rem;
}

.content > div {
    margin-bottom: 20px;
}

h1, h2, h3, p {
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 10px 0;
    font-family: "Finlandica", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 48px;
    color: #ffffff; /* White */
    width: 100%; /* Ensure it fills the available space */
}

h2 {
    font-size: 18px;
    color: #ffffff; /* Light gray */
}

h3 {
    font-size: 16px;
    color: #999999; /* Darker gray */
    max-width: 60%; /* Ensure it does not exceed the width of h1 */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

p {
    font-size: 16px;
    color: #999999; /* Darker gray */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}
strong {
    font-weight: bold; /* Make text bold */
    color: white; /* Light gray */

}
.navigation-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navigation-buttons button {
    background-color: #333333; /* Dark gray */
    color: #00FF00; /* Cyan green */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
    background-color: #444444; /* Slightly lighter gray */
}



.social-icons {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icons a {
    color: #e0e0e0; /* Darker white color */
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #00FF00; /* Cyan green color on hover */
}