body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Playwrite NZ", cursive;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
    color: #fff; /* Set default text color to white */
    background-color: #05081c; /* Dark blue background */
    overflow: hidden;
    position: relative; /* Ensure relative positioning for the entire page */
}

.playwrite-nz- {
    font-family: "Playwrite NZ", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.flashlight {
    position: absolute;
    width: 350px; /* Increase the width for a larger radius */
    height: 350px; /* Increase the height for a larger radius */
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1); /* Make the light weaker */
    box-shadow: 0 0 50px 50px rgba(255, 255, 255, 0.1), 0 0 100px 100px rgba(255, 255, 255, 0.05);
    pointer-events: none;
    z-index: 1;
    filter: blur(100px); /* Adjust the blur to make the light softer */
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Equal width for both columns */
    height: 100vh; /* Full viewport height */
    position: relative; /* Ensure it respects the flashlight's position */
}

.personal-header {
    background-color: #05081c;
    padding-top: 96px;
    padding-left: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap:nowrap;
    height: 100vh; /* Full height to match container */
    box-sizing: border-box;
    z-index: 2; /* Ensure it is above the flashlight */
}

.content {
    background-color: #05081c;
    overflow-y: auto; /* Scrollable if content exceeds height */
    padding-top: 96px;
    height: 100vh; /* Full height to match container */
    box-sizing: border-box;
    z-index: 2; /* Ensure it is above the flashlight */
}

.content > div {
    margin-bottom: 20px;
}

h1, h2, h3, p {
    font-family: rondo-mn, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 10px 0;
    font-family: "Playwrite NZ", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 48px;
    color: #ffffff; /* White */
    width: 100%; /* Ensure it fills the available space */
}

h2 {
    font-size: 18px;
    color: #b6b6b6; /* Light gray */
}

h3 {
    font-size: 16px;
    color: #999999; /* Darker gray */
    max-width: 60%; /* Ensure it does not exceed the width of h1 */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

p {
    font-size: 14px;
}
